header {
  background-color: black;
}
.nav-bar {
  color: rgb(255, 255, 255);
}

/* ejemplo de uso de ID'S. El ID tiene más prioridad que el class */
#nav {
  color: blue;
}

ul {
  list-style: none;
}

h2 {
  color: red;
}

section {
  background-color: black;
}

.foto {
  height: auto;
  width: 60%;
}

body {
  font-family: sans-serif;
}

p {
  /* unidades lógicas */
  margin-top: 16px;
}
